[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipfile-sort = "*"

[packages]
folium = "*"
matplotlib = "*"
missingno = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
tqdm = "*"

[requires]
python_version = "3.7"
